.add-form {
 max-width: 600px;
}

.h-36 { height: 36px }
.h-66 { height: 66px }
.h-50 { height: 50px }
.h-80p { height: 80% }
.h-100p { height: 100% }

.w-200 { width: 200px }
.w-220 { width: 220px }

.p-i-10 { padding-inline: 10px }
.p-8 { padding: 8px }

.m-b-1 { margin-bottom: 1rem }

.bg-main {
 background-color: rgba(233, 238, 244, 1);
}

html.dark {
 .bg-main {
  background-color: rgba(22, 17, 11, 1);
 }
}

.flex {
 display: flex;
}

@keyframes flowText {
 0% {
  transform: translateX(0);
 }
 100% {
  transform: translateX(-50%);
 }
}

.el-button.flowText {
 overflow: hidden;

 &:hover {
  //transform: translateX(-100%);

  animation: flowText linear infinite forwards;
  animation-iteration-count: revert;
  animation-duration: 4s;
 }
}