.add-form {
 max-width: 600px;
}

.h-36 {
 height: 36px;
}
.h-66 {
 height: 66px;
}
.h-50 {
 height: 50px;
}

.h-80p {
 height: 80%;
}
.h-100p {
 height: 100%;
}

.w-200 {
 width: 200px;
}

.bg-main {
 background-color: rgba(233, 238, 244, 1);
}

html.dark {
 .bg-main {
  background-color: rgba(22, 17, 11, 1);
 }
}

.search-section {
 padding-block: 20px;
}