.table-row {
 height: 50px;

 .actions > .cell {
  display: none;
 }

 &:hover > .actions > .cell {
  display: block;
 }
}

.el-dialog {
 border-radius: 1rem;
 padding: 24px;
 .el-dialog__body {
  padding-inline: 24px;
  height: calc(100% - 80px);
  overflow-x: hidden;
  overflow-y: auto;
 }
}

.search-option-header,
.app-table-section,
.el-button,
.el-input {
 box-shadow: 4px 4px 4px #0000001a;

 &.is-circle {
  box-shadow: none;
 }
}

.el-main {
 display: flex;
 flex-direction: column;
 .app-table-section {
  flex-grow: 1;
  width: 100%;
  border-radius: 1rem;
 }
}

.el-collapse-item.search-option-header {

 .el-collapse-item__header {
  height: auto;
  display: grid;
  grid-template-columns: auto 21px;
  .search-option-header-content {
   text-align: left;
   display: block;
   .insurance-option {
    & > span {
     margin-inline: 10px;
    }
   }
   .option-tags {
    display: flex;
    flex-wrap: wrap;
    & > * {
     margin: 4px 4px;
    }
   }
  }
 }
 .el-collapse-item__content {
  padding-bottom: 0;
 }
}
