.table-row {
 height: 50px;

 .actions > .cell {
  display: none;
 }

 &:hover > .actions > .cell {
  display: block;
 }
}

.el-dialog__body {
 height: calc(100% - 80px);
 overflow-x: hidden;
 overflow-y: auto;
}

.app-table-section {
 width: 100%;
 height: calc(100% - 160px);
 border-radius: 1rem;
}